* {
    margin: 0;
    padding: 0;
}

input {
    padding-left: 5px;
    padding-right: 15px;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.margin-l5 {
    margin-left: 5px;
}

.content {
    width: 100%;
    height: 100vh;
    align-items: center
}

.container {
    width: 460px;
    height: 300px;
    border: 1px solid blue;
}

.main {
    padding: 55px 47px 10px 35px;
}

.margin-5 {
    margin: 5px 8px;
}

.my-row {
    display: flex;
    margin-top: 10px;
}

.my-row button {
    padding: 8px 0;
    width: 100px;
    background-color: rgb(91, 155, 213);
    border: 1px solid blue;
    color: white;
    margin-right: 10px;
}

.my-row input {
    outline: none;
    border: 1px solid blue;
}

.triangle::after {
    content: "";
    position: absolute;
    right: 2px;
    top: 1px;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 30px solid rgb(91, 155, 213);
}

.triangle::before {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 33px solid blue;
}

.center {
    display: flex;
    justify-content: center;
}

.submit-container button {
    margin-top: 25px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: rgb(85, 219, 85);
    padding: 10px 35px;
    color: white;
}